extends layout

block content
  h1= title
  h1 SnapText - anonymous, recordless messaging
  div(style = "min-height: 1.1em; text-align: center; font-size: 16px; display: block; margin: .6em 30% .8em; padding: 0; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important;")
  
  div(data-role='page')
    form(method='post',action='/send')
      input(type="text", name = "message", id = "message", style = "width:95%; height:100px; line-height: 1.4; font-size: 60px; padding: .4em; display: block;")
      br
      input(type="submit", id = "button", value=success, style = "width:100%; height:120px; background-color: green")

  div(class = "footer")
    p Built by Dan Deng for Linkedin Hackday 2013. Uses Node.js, Express, Jade, and Pusher API