doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="http://js.pusher.com/2.1/pusher.min.js")
    script(src="/javascripts/client.js")
 

  body
    block content